
@{
    ViewData["Title"] = "ITCenter";
}

<h2>ITCenter</h2>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>University Of Sialkot Front Page Design</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/">

    @*<!-- CSS
        ============================================ -->
        <!-- Bootstrap CSS -->
        <link href="~/asstes/css/bootstrap.min.css" rel="stylesheet" />
        <!-- Icon Font CSS -->
        <link href="~/asstes/css/icons.min.css" rel="stylesheet" />
        <!-- Plugins CSS -->
        <link href="~/asstes/css/plugins.css" rel="stylesheet" />
        <!-- Main Style CSS -->
        <link href="~/asstes/css/style.css" rel="stylesheet" />
        <!--- Qasim Css--->
        <link href="~/asstes/css/main.css" rel="stylesheet" />
        <!-- Modernizer JS -->
        <script src="~/asstes/js/vendor/modernizr-2.8.3.min.js"></script>*@
</head>
<body>
    <div class="breadcrumb-area">
        <div class="breadcrumb-top default-overlay bg-img pt-100 pb-95" style="background-image:url(/img/slide-2-1024x387.jpg);">
            <div class="container">
                <h2 class="text-center">IT CENTER</h2>
                <p>USKT provide a PICK & DROP Ficilites for Both Male & Females Students</p>
            </div>
        </div>
        <div class="breadcrumb-bottom">
            <div class="container">
                <ul>
                    <li><a href="#">Home</a> <span><i class="fa fa-angle-double-right"></i> About Page</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="width:85%; margin:0px 0px 20px 70px">
        <div class="row" style="padding:50px 50px 50px 50px;">

            <div class="col-sm-12 col-md-12 " style="border-top:5px solid blue;border-left:5px solid Blue;background-image:url(/img/Blue-Data-Center-Room.jpg;)">
                <div class="soc_form" >
                    <div class="soc_details_head" id="heading"></div>
                    <div class="info_body" style="overflow:auto;">
                        <div id="introduction">
                            <h1 style="color:#ffd800;margin-left:70px;margin-top:auto" class=""> Mission </h1>
                           
                            <p><strong>To enable students, faculty and staff to accomplish their daily work by making optimal use of the available ICT resources of USKT.</strong></p>
                            <p><strong> As the core ICT unit in USKT, we are dedicated to serving the IT needs of our users.</strong> </p>
                            <p><strong>
    We continuously innovate our infrastructure and provide services that expand teaching and learning, provide computing resources to enable research, support the administrative needs of the academic community, and maintain a secure and reliable ICT infrastructure
</strong>
                            </p>
                               
                            <ul class="para" style="color:#808080;" >
                                <li>Bound and wireless broadband connection among computers at USKT, and Internet connectivity</li>
                                <li>Virtual server infrastructure and storage</li>
                                <li>Computer labs and administration of the Central Computer Lab</li>
                                <li>Student and Faculty Information Systems</li>
                                <li>Learning Management Systems</li>
                                <li>Basic network services</li>
                                <li>Software distribution</li>
                                <li>Management and supervision of the main Computer Lab of the University of Sialkot.</li>
                                <li>Monitoring of equipment maintenance contracts</li>
                                <li>Providing support to the Administration of the University with regards to quality assurance issues, statistical reports, internal evaluations, etc.</li>
                                <li>Administration of the dedicated e-learning rooms of the University</li>
                                <li>Equipment lending (projectors, laptops, etc.)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>


</body>
