
@{
    ViewData["Title"] = "Transport";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>University Of Sialkot Front Page Design</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/">

    @*<!-- CSS
        ============================================ -->
        <!-- Bootstrap CSS -->
        <link href="~/asstes/css/bootstrap.min.css" rel="stylesheet" />
        <!-- Icon Font CSS -->
        <link href="~/asstes/css/icons.min.css" rel="stylesheet" />
        <!-- Plugins CSS -->
        <link href="~/asstes/css/plugins.css" rel="stylesheet" />
        <!-- Main Style CSS -->
        <link href="~/asstes/css/style.css" rel="stylesheet" />
        <!--- Qasim Css--->
        <link href="~/asstes/css/main.css" rel="stylesheet" />
        <!-- Modernizer JS -->
        <script src="~/asstes/js/vendor/modernizr-2.8.3.min.js"></script>*@
</head>
<body>
    <div class="breadcrumb-area">
        <div class="breadcrumb-top default-overlay bg-img pt-100 pb-95" style="background-image:url(/img/bus.jpg);">
            <div class="container">
                <h2>USKT Transport</h2>
                <p>USKT provide a PICK & DROP Ficilites for Both Male & Females Students</p>
            </div>
        </div>
        <div class="breadcrumb-bottom">
            <div class="container">
                <ul>
                    <li><a href="#">Home</a> <span><i class="fa fa-angle-double-right"></i> About Page</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p style="font-size:20px;padding-bottom:5em;">
                    For the convenience of students and staff, University of Sialkot has a fleet of modern buses with air conditioning that move forward different routes in Gujranwala, Daska, Sambrial, and surrounding cities. The buses provide safe transportation facilitiesof convenient places around the city as well as the suburbs of Sialkot. Buses adhere to strict schedules to ensure timely collection and delivery services.
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/img/bus.jpg" style="width:300px;height:300px;"/>
            </div>
        </div>
        
        
    </div>
    
</body>